.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.src2 {
  background-color: aqua;
  flex: max-content;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.divParent {
  position: relative;
}
.loadingLayout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(222, 222, 222, 0.63);
  text-align: center;
}
.textLoading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: center;
}
.fixHeader {
    position: fixed;
    top: 0px;
    width: 100%;
}
.listContent {
    margin-top: 100px;
}
.Popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.71);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.contentPopup {
  background-color: white;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.icClose {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -20px;
  top: -20px;
}
.txtContent {
  font-size: 20px;
  font-weight: bold;
}
.divAction {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonCl {
  width: 100%;
  height: 50px;
  border-bottom-left-radius: 10px;
  outline: none;
  color: red
}
.buttonll {
  width: 100%;
  height: 50px;
  border-bottom-right-radius: 10px;
  outline: none;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
